@media screen and (max-width: 600px) {
  .sobre-text {
    width: 100%;
  }

  .h-contato h3 {
    width: 100%;
    display: flex;
    text-align: center;
  }

  .caixa-projeto p {
    padding-bottom: 20px;
  }

  .caixa-projeto img {
    height: 30vh;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media screen and (max-width: 992px) {
  .contato {
    width: auto;
  }

  .caixas-tech {
    gap: 65px;
  }

  .caixa-projeto img {
    height: 17vh;
  }
}

@media screen and (max-width: 1190px) {
  .nav_bar {
    display: none;
  }

  #bar {
    display: block;
  }
}

@media screen and (max-width: 1580px) {
  .nav-item .logo {
    margin-left: 90px;
  }
}
