@media screen and (max-width: 390px) {
}

@media screen and (max-width: 600px) {
  .sobre-text {
    width: 100%;
  }

  .h-contato h3 {
    width: 100%;
  }

  .caixa-projeto p {
    padding-bottom: 20px;
  }

  .caixa-projeto img {
    height: 30vh;
  }

  .page-form-text form textarea {
    width: 20rem;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (max-width: 992px) {
  .caixas-tech .caixa {
    height: 18vh;
  }

  .contato {
    width: auto;
  }

  .caixas-tech {
    gap: 65px;
  }

  .caixa-projeto img {
    height: 17vh;
  }

  

  .caixa-projeto h3 {
    padding-top: 50px;
  }

  .page-projetos {
    width: 100%;
  }

  .page-form-text form {
    width: 22rem;
    height: 55vh;
  }

  .page-form-text form .p1 input {
    width: 20rem;
  }

  .corpo-projeto {
    height: 13vh;
  }
}

@media screen and (max-width: 1190px) {
  .nav_bar {
    display: none;
  }

  #bar {
    display: block;
  }
}

@media screen and (max-width: 1580px) {
  .nav-item .logo {
    margin-left: 90px;
  }
}
